html, body, .big {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Raleway', sans-serif;  width: 100%;
  height: 100%;
}
.title {
  font-size: 5em;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-style: normal;
}

.body-text {
  font-size: 1.4em;
  text-align: center;
  padding-left: 6em;
  padding-right: 6em;
}


.body-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

p {
  color: black;
  position: relative;
  z-index: 10;
}

.big {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}




.big img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 99%;
  z-index: -1;
}

/*.darken{

    -webkit-filter: grayscale(80%);
       -moz-filter: grayscale(80%);
         -o-filter: grayscale(80%);
        -ms-filter: grayscale(80%);
            filter: grayscale(80%);
}*/

.job {
  color: #fa7900;
  font-weight: bold;
  padding-left: 6em;
  padding-top: 1em;

}

  .codepen {
  margin-left: 25%;
  margin-right: 25%;
  }
  
.job-body-text {
  color: black;
  padding-left: 6em;
  padding-bottom: 1em;
}

.white-block {
  background: white;
  margin-top: 13em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.text {
  z-index: 12;
  position: absolute;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #ffffff, #d9d8d8, #ffffff);
  background-image: -moz-linear-gradient(left, #ffffff, #d9d8d8, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #d9d8d8, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #d9d8d8, #ffffff);
  margin-left: 6em;
  margin-right: 6em;

}

a {
  color: white;
  text-decoration: none
}

a:hover {
  color: #fa7900;
}

.eqi-container {
  /*border: 10px solid black;*/
  display: flex;
  justify-content: space-between;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 3em;
  vertical-align: text-top;
  line-height: 2em;
}

.eqi-container p {
  /*width: 50px;*/
  height: 2em;
  /*background: red;*/
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

.eqi-container #name {
  height: 1.75em;
  line-height: 1em;
}

#bigger-text {
  font-size: 2em;
}

#name {
  font-weight: bolder;
  font-size: 1.25em;
  color: white;
  word-spacing: .5em;
}

#name:hover {
  color: #fa7900;

}
